*{
    font-family: Georgia, sans-serif;
}

footer {
    background-color: #2d36e8;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
  }
#contact {
    display: flex;
    flex-direction: row;
}
#footerimg{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#milogo {
    width: 180px;
    margin: 3px 0px;

}
#productsearch {
    width: 40%;
    height: 30px;
}
#navbar {
    padding-left: 0px;
    padding-right: 0px;
  }
